[Desktop Entry]
Name=Caelestia SDDM
Comment=Minimalist CaelestiaOS Login Theme
Type=shell
Version=1.0
Author=Christopher Bennett
MainScript=Main.qml
ConfigFile=theme.conf