[SddmGreeterTheme]
Name=Caelestia SDDM
Comment=Minimalist CaelestiaOS Login Theme
Description=Minimalist CaelestiaOS Login Theme
Type=sddm-theme
Version=1.0
Author=Christopher Bennett
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
