[SddmGreeterTheme]
Name=Caelestia SDDM
Comment=Minimalist Calestia Shell Login Theme
Description=Minimalist Calestia Shell Login Theme
Type=sddm-theme
Version=1.0
Author=Christopher Bennett and Haikalllp
MainScript=Main.qml
ConfigFile=theme.conf
Theme-API=2.0
QtVersion=6
